# Object files
*.o
*.obj

# Executables
*.exe

# Debug files
*.pdb
*.dbg

# Compiled libraries
*.a
*.lib
*.so
*.dll

# IDE-specific files
.vscode/
.cproject
.project
.settings/

# Compiler-specific files
*.suo
*.ncb
*.cache

# Build artifacts
build/
debug/
release/

# Log files
*.log
test.c